<!DOCTYPE html>

<html>

<head>
    <title>Hello, ansible</title>
</head>

<body>
    Server Host Name: {{ ansible_hostname }}<br>
    Server OS Family is: {{ ansible_os_family }} <br>
    Server IPv4 is: {{ ansible_default_ipv4.address }}<br>
    <h1>Hello, ansible</h1>
    <h2>You are cool!</h2>
    <h3>I'm learning ansible</h3>
    <h4>Here is some flags</h4>
    <img src="Australia.png" alt="Australia" width="125" height="63">
    <img src="Canada.png" alt="Canada" width="125" height="63">
    <img src="Russia.png" alt="Russia" width="125" height="63">
    <img src="Ukraine.png" alt="Ukraine" width="125" height="63">
    <font color="gold"> Owner of this Server is: {{ owner }}<br>

</body>

</html>



